body {
    font-family: Arial;
    max-width: 1200px;
    margin: auto;
    padding: 50px;
    line-height: 1.5;
    background-color: #b5b0b0;
}

h1, h2 {
    color: #def86b;
}

.section {
    background: #929090;
    padding: 20px;
    margin-bottom: 50px;
    border-radius: 30px;
    box-shadow: 0 10px 10px rgb(0, 0, 0);
}

.style-info {
    display: flex;
    justify-content: space-between;
}

.style-mxh {
    display: flex;
    margin: 1px;
    padding: 10px;
    border-radius: 60px;
    background-color: #88ff00;
    gap: 20px;
    height: 70px;
}

.info div {
    width: 50%
}

img.avatar {
    width: 180px;
    border-radius: 20px;
}

img.app {
    width: 70px;
    height: 70px;
    margin-left: 11px;
    border-radius: 100%;
}

img.app:hover {
    transform: scale(1.5);
}

.footer-style {
    color: rgb(0, 0, 0);
    text-align: center;
}